<ul>
  <li>Pommes de terre</li>
  <li [ngStyle]="{backgroundColor: isThisIngredientVital ? 'red' : 'yellow'}">Raclette</li>
  <li>Jambon</li>
  <li [ngClass]="{'vital': isThisIngredientVital}">Cornichons</li>
  <li>Chou-fleur</li>
</ul>
<hr>
<ul *appDisplayGuests="displayGuestList">
  <li>Brenda</li>
  <li>Dylan</li>
  <li>Jean-Mi</li>
  <li>Kylie</li>
</ul>
<hr>

<ul *appMoviesList="showMovies">
  <li appHightlight>Star Wars</li>
  <li>E.T</li>
  <li>Gone With The Wind</li>
  <li>Casablanca</li>
</ul>

<hr>
<ul *ngFor="let song of songList">
  <li>{{ song }}</li>
</ul>
<hr>
<h1 appHightLight>Raclette</h1>

